#ToggleMode {
    position: fixed;

    width: 50px;
    height: 50px;

    background-color: transparent;

    display: flex;
    justify-content: center;
    align-items: center;

    border: none;
    border-radius: 999px;

    top: 5%;
    left: 1%;

    
    
    &.dark-Mode {
        color: #FACC15;
    };

    &.light-Mode {
        color: #3B82F6;
    };

    &:hover {
        box-shadow: inset 0 999px 0 rgba(0, 0, 0, 0.2);
    };

    &:active {
        box-shadow: inset 0 999px 0 rgba(0, 0, 0, 0.4);
    }
}